img {
	width: ;
	height: ;
}

#img1 {
    position: absolute;
    clip: rect(0 100px 200px 0);
}

#img2 {
    position: absolute;
    clip: rect(0 100px 200px 0);
}

#img3 {
    position: absolute;
    clip: rect(0 100px 200px 0);
}


/*
1	0,67		500x893		720x1280
2	580,71		700x1245	720x1280
3	1376,466	1511x850	1920x1080
4	45,1420		893x500		1280x720
5	1029,1420	893x500		1280x720
6	2001,1420	893x500		1280x720
7	2995,0  	1080x1920	1080x1920
8	4181,4  	700x1245	720x1280
9	4978,675 	700x1245	720x1280
10	5777,91 	500x893		720x1280
11	6375,93		893x500		1280x720
12	5769,1067	1511x850	1920x1080
*/


