body {
	background-color: #003366;
}

#s1 {
	position: fixed;
	top: -105px;
	left: -2px;
	width: 11216px;
	height: 2942px;
}

#s2 {
	position: fixed;
	top: -79px;
	left: -639px;
	width: 8005px;
	height: 2110px;
}

#s3 {
	position: fixed;
	top: -548px;
	left: -1642px;
	width: 8887px;
	height: 2343px;
}

#s4 {
	position: fixed;
	top: -2191px;
	left: -70px;
	width: 11155px;
	height: 2961px;
}

#s5 {
	position: fixed;
	top: -2191px;
	left: -1580px;
	width: 11155px;
	height: 2961px;
}

#s6 {
	position: fixed;
	top: -2191px;
	left: -3068px;
	width: 11155px;
	height: 2961px;
}

#s7 {
	position: fixed;
	top: 35px;
	left: -2857px;
	width: 6994px;
	height: 1850px;
}

#s8 {
	position: fixed;
	top: -6px;
	left: -4598px;
	width: 8005px;
	height: 2111px;
}

#s9 {
	position: fixed;
	top: -743px;
	left: -5475px;
	width: 8006px;
	height: 2110px;
}

#s10 {
	position: fixed;
	top: -141px;
	left: -8904px;
	width: 11220px;
	height: 2942px;
}

#s11 {
	position: fixed;
	top: -145px;
	left: -9770px;
	width: 11155px;
	height: 2959px;
}

#s12 {
	position: fixed;
	top: -1281px;
	left: -7008px;
	width: 8891px;
	height: 2343px;
}